{{- $dt := rbwFields "dev-tokens" -}}
export OLLAMA_API_KEY="{{ (index $dt "ollama_api_token").value }}"
export DT_PLATFORM_TOKEN="{{ (index $dt "dt_token").value }}"
export ORCA_AUTH_TOKEN="{{ (index $dt "orca_token").value }}"
export JIRA_API_TOKEN="{{ (index $dt "jira_token").value }}"
export GITLAB_READ_TOKEN="{{ (index $dt "gl_token").value }}"
export RAPID7_API_KEY="{{ (index $dt "rapid_7_api").value }}"
export RAPID7_REGION=us
export RAPID7_USER_EMAIL="mike.porter@ramseysolutions.com"
export RAPID7_ORG_ID="{{ (index $dt "rapid_7_org").value }}"
export CORTEX_API_KEY_ID="25"
export CORTEX_API_KEY="{{ (index $dt "cortex_api_key").value }}"
export CORTEX_URL="https://api-ramseysolutions.xdr.us.paloaltonetworks.com"
export CLAUDE_CODE_OAUTH_TOKEN="{{ (index $dt "claude_code_oauth_token").value }}"
export ABUSECH_AUTH_KEY="{{ (index $dt "abuse.ch_auth_key").value }}"
