{{- $dt := bitwardenFields "item" "a78c2db0-b23f-412e-9e84-b449014f9047" -}}
{{- $ollama := bitwardenFields "item" "3dc6fd6a-13bc-417a-8159-b40b014ee03e" -}}
export OLLAMA_API_KEY="{{ (index $ollama "API").value }}"
export DT_PLATFORM_TOKEN="{{ (index $dt "dt_token").value }}"
export ORCA_AUTH_TOKEN="{{ (index $dt "orca_token").value }}"
export JIRA_API_TOKEN="{{ (index $dt "jira_token").value }}"
export GITLAB_READ_TOKEN="{{ (index $dt "gl_token").value }}"
export RAPID7_API_KEY="{{ (index $dt "rapid_7_api").value }}"
export RAPID7_REGION=us
export RAPID7_USER_EMAIL="mike.porter@ramseysolutions.com"
export RAPID7_ORG_ID="{{ (index $dt "rapid_7_org").value }}"
export CORTEX_API_KEY_ID="25"
export CORTEX_API_KEY="{{ (index $dt "cortex_api_key").value }}"
export CORTEX_URL="https://api-ramseysolutions.xdr.us.paloaltonetworks.com"
