[submodule "dot_config/tmux/plugins/tpm"]
	path = dot_config/tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "dot_config/tmux/plugins/tmux-resurrect"]
	path = dot_config/tmux/plugins/tmux-resurrect
	url = git@github.com:tmux-plugins/tmux-resurrect.git
[submodule "dot_config/tmux/plugins/tmux-continuum"]
	path = dot_config/tmux/plugins/tmux-continuum
	url = git@github.com:tmux-plugins/tmux-continuum.git
[submodule "dot_config/tmux/plugins/tmux-fzf-links"]
	path = dot_config/tmux/plugins/tmux-fzf-links
	url = git@github.com:alberti42/tmux-fzf-links.git
[submodule "dot_config/tmux/plugins/tmux-powerline"]
	path = dot_config/tmux/plugins/tmux-powerline
	url = git@github.com:erikw/tmux-powerline.git
